body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.not-found {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
  }
  &__title {
    font-size: 10em;
    margin: 0;
  }
  &__subtitle {
    font-size: 2em;
    margin: 0;
  }
  &__icon {
    font-size: 10em;
  }
  &__button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.cart-card {
  display: flex;
  &__body {
    margin-left: auto;
  }
  &__price {
    margin-right: 1em;
  }
}

.cart-footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  &__text {
    margin: auto 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  &__button {
    float: 'right';
  }
}

.home-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;
  height: 11em;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > p {
    margin: 0;
    padding: 0;
  }
}

.product-form {
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    margin-top: 1.7em;
  }
}

.page-title {
  margin-left: 1em;
  margin-top: 0.2em;
}

.filter-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.filters-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.underlined {
  text-decoration: underline;
}

.detailed-product-card {
  &__title {
    font-size: 2em;
  }
  &__subtitle {
    font-size: 1.6em;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

.product-price {
  margin-left: 1em;
}

.margin {
  margin: 1.8em 0;
  display: flex;
  justify-content: center;
}

.login-title {
  width: fit-content;
  margin: 0.2em auto 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  margin-top: 1em;
  &__signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
